<div id="form">
  <h2>Join us</h2>
  <form action="/auth/signup" method="POST">

    <label> Username
      <input type="text" name="username" placeholder="Your username" />
    </label>

    <label> Email
      <input type="email" name="email" placeholder="Your email" />
    </label>

    <label> Password
      <input type="password" name="password" placeholder="Your password" />
    </label>

    <label> Confirmation Password
      <input type="password" name="confirmPassword" placeholder="Confirm password" />
    </label>

    <button type="submit">Sign Up</button>

    <p>If you are already a user</p>

    <a href="/auth/login">Log In</a>

    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>