<h2>Community Recipes</h2>


<label for="cuisine">Cuisine:</label>
<select name="cuisine" id="cuisine">
  <option value="european">European</option>
  <option value="asian">Asian</option>
  <option value="southamerican">South American</option>
  <option value="african">African</option>
  <option value="northamerican">North American</option>
   <option value="oceanian">Oceanian</option>
</select>

<label for="diet">Diet:</label>
<select name="diet" id="diet">
  <option value="vegetarian">Vegetarian</option>
  <option value="vegan">Vegan</option>
  <option value="pescatarian">Pescatarian</option>
  <option value="flexitarian">Flexitarian</option>
  <option value="omnivore">Omnivore</option>
</select>

<label for="level">Level:</label>
<select id="level" name="level" required>
    <option value="Easy">Easy</option>
    <option value="Medium">Medium</option>
    <option value="Pro">Pro</option>
</select> 
<br>
<br>
    <button>Search for recipes</button>
    <br>
    <br>
    <button>Create recipe</button>