<h1>Choose your recipe</h1>

<h2>List of Recipes</h2>

<ul>
    {{#each recipes}}
    <li>{{this.title}}</li>
    <img src={{this.image}}>
<a href="/profile/kitchen-recipes?recipeId={{this.id}}">Detail</a>
    {{/each}}
</ul>

