<h2>What do you have in your kitchen now?</h2>

<div id="kitchen-form">

    <form id="recipe-form" action="/profile/kitchen-overview" method="POST">

        <input type="ingredient" name="ingredient" placeholder="1st ingredient" />
        <br>
        <br>
        <input type="ingredient" name="ingredient" placeholder="2nd ingredient" />
        <br>
        <br>
        <input type="ingredient" name="ingredient" placeholder="3rd ingredient" />
        <br>
        <br>

        <button id="find-recipe-btn" type="submit">Find recipe</button>
    </form>
</div>

