<div class="form">
<div class="flex justify-center">
<h2 class="text-4xl dark:text-black pb-4">Choose your recipe, {{username}}!</h2>
</div>

<ul class="grid gap-6 justify-center">
  {{#each recipes}}
  <li class="text-center">
    <div class="overflow-hidden shadow-lg">
      <img src={{this.image}} alt="Recipe Image" class="rounded-lg">
    </div>
    <p class="mt-2 mb-4 font-bold">{{this.title}}</p>
    <a href="/profile/kitchen-recipes?recipeId={{this.id}}" class="mt-2 mb-2 text-gray-900 bg-gradient-to-r from-teal-200 to-lime-200 hover:bg-gradient-to-l hover:from-teal-200 hover:to-lime-200 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-teal-700 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 shadow-md">Details</a>
  </li>
  {{/each}}

</ul>
<br>
<br>
<br>

<button id="back-to-kitchen" class="text-gray-900 bg-gradient-to-r from-red-200 via-red-300 to-yellow-200 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-red-100 dark:focus:ring-red-400 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 shadow-md">Back to your kitchen</button>
</div>

<script>
    const backKitchenButton = document.getElementById("back-to-kitchen");
    backKitchenButton.addEventListener("click", () => {
        window.location.href = "/profile/kitchen-overview";
    });
</script>
