<h3>Your recipes</h3>

<button onclick="scrollToSection()">Create recipe</button>

<h3>Create recipe</h3>
<form action="/profile/login" method="POST">

      <input type="email" name="email" placeholder="Your email" />
    <br>
    <br>
      <input type="password" name="password" placeholder="Your password" />
    <br>
    <br>

    <button type="submit">Log In</button>