<div class="form">
  <div class="flex justify-center">
<h2 class="text-4xl dark:text-black pb-4">{{recipe.title}}</h2>
  </div>

<h2>Ingredients</h2>
<ul>
  {{#each recipe.ingredients}}
    <li>{{this}}</li>
  {{/each}}
</ul>
<h2>Instructions</h2>
<ol>
  {{#each recipe.instructions}}
    <li>{{this.stepNumber}}. {{this.text}}</li>
  {{/each}}
</ol>
</div>
