<nav>
    <h2>LOGO</h2>
    <a href="/about">About</a>
    <a href="/community-recipes">Community recipes</a>
    <label>Profile
    <select name="profile">
                <option value="vegetarian">Edit your profile</option>
                <option value="vegan">Your recipes</option>
                <option value="pescatarian">Find recipes</option>
            </select>
    </label>
    <a href="/profile">Logout</a>
</nav>