<!-- Header Image -->
<div>
	<img src='/images/about-header.jpeg' alt='about-header' />
</div>

<!-- About Text -->
<div>
	<h1>Background Story</h1>
	<p>Three women met around the same goal: to reduce food waste and enjoy meals
		at home. This app also has a special meaning for all people who live
		outside their countries. Being European in Asia or Asian in Europe, you
		often struggle to continue with your eating habits. Considering our
		international character, you can find ideas from our selfless community
		who share recipes they came up with thanks to their creativity and
		innovation.
	</p>
</div>

<!-- How it works -->

<section>
	<div class='left-aligned'>
		<img src='/images/About-default-img.png' alt='' />
		<h2>1 Create a profile</h2>
		<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
			nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
			sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
			rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
			ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing
			elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
			aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
			dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus
			est Lorem ipsum dolor sit amet.</p>
	</div>
	<div class='right-aligned'>
		<h2>2 Add ingredients</h2>
		<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
			nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
			sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
			rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
			ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing
			elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
			aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
			dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus
			est Lorem ipsum dolor sit amet.</p>
		<img src='/images/About-default-img.png' alt='' />
	</div>
	<div class='left-aligned'>
		<img src='/images/About-default-img.png' alt='' />
		<h2>3 Find a recipe</h2>
		<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
			nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
			sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
			rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
			ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing
			elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
			aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
			dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus
			est Lorem ipsum dolor sit amet.</p>
	</div>
	<div class='right-aligned'>
		<h2>4 Share your own recipe</h2>
		<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
			nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
			sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
			rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
			ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing
			elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
			aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
			dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus
			est Lorem ipsum dolor sit amet.</p>
		<img src='/images/About-default-img.png' alt='' />
	</div>
	<div class='left-aligned'>
		<img src='/images/About-default-img.png' alt='' />
		<h2>5 Connect with the community and give tipps and comment</h2>
		<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
			nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
			sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
			rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
			ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing
			elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
			aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
			dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus
			est Lorem ipsum dolor sit amet.</p>
	</div>
</section>