

<img class="h-auto max-w-full" src="/images/about-header.jpeg" alt="about-header">
<div class="form">
<div class="flex justify-center p-6">
	<h2 class="text-4xl dark:text-black">Background Story</h2>
</div>
<p>Three women met around the same goal: to reduce food waste and enjoy meals
		at home. This app also has a special meaning for all people who live
		outside their countries. Being European in Asia or Asian in Europe, you
		often struggle to continue with your eating habits. Considering our
		international character, you can find ideas from our selfless community
		who share recipes they came up with thanks to their creativity and
		innovation.
	</p>
</div>


<section class="facts">
	

		


<div class="p-4">
  <div class="flex flex-col md:flex-row items-center">
    <div class="w-full md:w-1/2">
      <img src="/images/food waste facts pic2.jpeg" alt="waste fact" class="w-full max-w-300 rounded-lg shadow-md">
    </div>
    <div class="w-full md:w-1/2 md:pl-4">
		<h2 class="text-4xl pl-4 text-white pb-4">1 Create profile</h2>
      <p class="text-white pl-4">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
			nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
			sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
			rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
			ipsum dolor sit amet.</p>
    </div>
  </div>
</div>

<div class="p-4">
  <div class="flex flex-col md:flex-row items-center">
    <div class="w-full md:w-1/2">
		<h2 class="text-4xl pl-4 text-white pb-4">2 Add ingredients</h2>
      <p class="text-white pr-4">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
			nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
			sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
			rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
			ipsum dolor sit amet.</p>
    </div>
    <div class="w-full md:w-1/2 md:pr-4">
      <img src="/images/fact-pic1.png" alt="Bild 2" class="w-full max-w-300 rounded-lg shadow-md">
    </div>
  </div>
</div>
<div class="p-4">
  <div class="flex flex-col md:flex-row items-center">
    <div class="w-full md:w-1/2">
      <img src="/images/food waste facts pic2.jpeg" alt="waste fact" class="w-full max-w-300 rounded-lg shadow-md">
    </div>
    <div class="w-full md:w-1/2 md:pl-4">
		<h2 class="text-4xl pl-4 text-white pb-4">3 Find a recipe</h2>
      <p class="text-white pl-4">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
			nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
			sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
			rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
			ipsum dolor sit amet.</p>
    </div>
  </div>
</div>

<div class="p-4">
  <div class="flex flex-col md:flex-row items-center">
    <div class="w-full md:w-1/2">
		<h2 class="text-4xl pl-4 text-white pb-4">4 Share your own recipe</h2>
      <p class="text-white pr-4">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
			nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
			sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
			rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
			ipsum dolor sit amet.</p>
    </div>
    <div class="w-full md:w-1/2 md:pr-4">
      <img src="/images/fact-pic1.png" alt="Bild 2" class="w-full max-w-300 rounded-lg shadow-md">
    </div>
  </div>
</div>
<div class="p-4">
  <div class="flex flex-col md:flex-row items-center">
    <div class="w-full md:w-1/2">
      <img src="/images/food waste facts pic2.jpeg" alt="waste fact" class="w-full max-w-300 rounded-lg shadow-md">
    </div>
    <div class="w-full md:w-1/2 md:pl-4">
		<h2 class="text-4xl pl-4 text-white pb-4">5 Connect with the community and give tipps and comment</h2>
      <p class="text-white pl-4">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
			nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
			sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
			rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
			ipsum dolor sit amet.</p>
    </div>
  </div>
</div>
<!--


<div>
	<img src='/images/about-header.jpeg' alt='about-header' />
</div>


<div>
	<h1>Background Story</h1>
	<p>Three women met around the same goal: to reduce food waste and enjoy meals
		at home. This app also has a special meaning for all people who live
		outside their countries. Being European in Asia or Asian in Europe, you
		often struggle to continue with your eating habits. Considering our
		international character, you can find ideas from our selfless community
		who share recipes they came up with thanks to their creativity and
		innovation.
	</p>
</div>



<section>
	<div class='left-aligned'>
		<img src='/images/About-default-img.png' alt='' />
		<h2>1 Create a profile</h2>
		<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
			nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
			sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
			rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
			ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing
			elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
			aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
			dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus
			est Lorem ipsum dolor sit amet.</p>
	</div>
	<div class='right-aligned'>
		<h2>2 Add ingredients</h2>
		<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
			nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
			sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
			rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
			ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing
			elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
			aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
			dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus
			est Lorem ipsum dolor sit amet.</p>
		<img src='/images/About-default-img.png' alt='' />
	</div>
	<div class='left-aligned'>
		<img src='/images/About-default-img.png' alt='' />
		<h2>3 Find a recipe</h2>
		<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
			nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
			sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
			rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
			ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing
			elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
			aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
			dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus
			est Lorem ipsum dolor sit amet.</p>
	</div>
	<div class='right-aligned'>
		<h2>4 Share your own recipe</h2>
		<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
			nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
			sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
			rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
			ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing
			elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
			aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
			dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus
			est Lorem ipsum dolor sit amet.</p>
		<img src='/images/About-default-img.png' alt='' />
	</div>
	<div class='left-aligned'>
		<img src='/images/About-default-img.png' alt='' />
		<h2>5 Connect with the community and give tipps and comment</h2>
		<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
			nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
			sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
			rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
			ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing
			elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
			aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
			dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus
			est Lorem ipsum dolor sit amet.</p>
	</div>
</section> -->