<div id="login-form">
  <h2>Welcome back</h2>
  <form action="/user/login" method="POST">

      <input type="email" name="email" placeholder="Your email" />
    <br>
    <br>
      <input type="password" name="password" placeholder="Your password" />
    <br>
    <br>

    <button type="submit">Log In</button>
    
    <p>You don't have a profile yet?</p>
    <a href="/user/signup">Signup</a>

    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>