@font-face {
  font-family: 'AtomicMarker';
  src: url('/fonts/AtomicMarker.otf') format('opentype');
}

body {
  font: 14px "Nunito", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  padding-left: 40px;
  font-family: 'AtomicMarker';
  font-size: 80px;

}

h2 {
  font-family: 'AtomicMarker';
}

/*nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}*/

nav{
  background-color: #EDEAE2;
}

.facts {
  background-color: #9F808E;
}

.carousel img{
  width: 30%;
  height: 30%
}

footer {
  background-color: white;
}

.form {
  background-color: #EDEAE2;
  padding-left: 300px;
  padding-right: 300px;
  padding-bottom: 50px;
}