body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.carousel img{
  width: 30%;
  height: 30%
}

.navbarli {
  display: flex;
  flex-direction: row;

}

.navbarli a {
  display: flex;
  flex-direction: row;
  
}

/* Style the dropdown menu */
.navbarli ul ul {
  display: none;
}

.navbarli:hover ul {
  display: block;
}

